@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes pan {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(3000px);
  }
}

.cloud {
  animation: pan 30s linear infinite;
}

.cloud-1 {
  right: 100px;
  top: 200px;
  animation-duration: 50s;
  scale: 0.5;
}

.cloud-2 {
  left: 100px;
  top: 250px;
  opacity: 0.6;
  animation-duration: 40s;
  scale: 0.5;
}

.cloud-3 {
  left: -140px;
  animation-duration: 0s;
  scale: 0.5;
}

.cloud-4 {
  left: 340px;
  top: -60px;
  animation-duration: 20s;
  scale: 0.35;
}

.cloud-5 {
  right: 0px;
  top: 100px;
  animation-duration: 40s;
  scale: 0.5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.sticky-container {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.movie-grid {
  padding-top: 100vh; /* Push the grid content down, so it starts below the sticky section */
  z-index: 10; /* Ensure the grid is above the sticky background */
}
 